:root {
    /* color */
    --basic-color: #fff;
    --basic-dark-color:#EAEAEA;
    --basic-dark-opacity-015-color: rgba(0, 0, 0, 0.15);
    --basic-dark-opacity-03-color: rgba(0, 0, 0, 0.3);
    --basic-opacity-3-color: rgba(255, 255, 255, 0.3);
    --secondary-color: #000;
    --secondary-black-color: #161D29;
    --orange-light-color: #FFD180;
    --orange-color: #FFBF47;
    --main-red-color: #EE3643;
    --main-red-dark-color: #CA2C37;
    --dark-red-color: #BA2732;
    --navy-blue-color: #212A3A;
    --main-dark-blue-color: #293449;
    --dark-blue-color: #32425C;
    --dark-blue-opacity-color: rgba(50, 66, 92, 0.3);
    --grey-color: #A9A9A9;
    --grey-medium-light-color: #F2F6F8;
    --grey-opacity-3-color: rgba(197, 197, 197, 0.3);
    --grey-light-color: #F3F7F9;
    --grey-blue-color: #F1F5F7;
    --grey-white-color: #E5E5E5;
    --green-color: #63A63E;
    --green-color-hover: #5FBB2D;
    --green-light-color: #8ED78F;
    --green-dark-color: #518534;
    --green-box-shadow: inset 0px -3px 0px #367315;
    --beige-color: #F9F5F0;
    --beige-ligt-color: #F7F3EC;
    --section-basic-background-color: rgba(0, 0, 0, 0.0001);
    --blue: #3BBCE3;
    --pink: #DC91D8;
    --layout-color: rgba(0, 0, 0, 0.25);
    --main-nav-box-shadow: inset 0px -5px 0px #293449;
  
   
    /* decoration */
    --basic-text-decoration: none;
    --hover-text-decoration: underline;
    --basic-list-style: none;

    --fill-color: #C5C5C5;
    --fill-dark-blue: #3D546F;
}

body {
    font-family: 'Cuprum', 'Arial', sans-serif;
}

/* list-style: none;*/
.list {
    list-style: var(--basic-list-style);
}

/* text-decoration: none; */
.no-decoration {
    text-decoration: var(--basic-text-decoration);
}

/* Header-top */
.header-top {
    background-color: var(--main-dark-blue-color);
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.search-icon path,
.bookmark-icon path,
.basket-icon path {
    fill: var(--basic-color);
    opacity: 0.3;
}

.search-wrap:hover path,
.bookmark-wrap:hover path,
.basket-wrap:hover path {
    opacity: 1;
}

.bookmark-wrap:active path {
    opacity: 0.3;
}

.bookmark-wrap:active {
    background-color: var(--secondary-black-color);
}


.search-wrap:active path,
.basket-wrap:active path {
    opacity: 0.3;
}

.catalog-page {
    background-color: var(--main-red-color);
    max-width: 142px;
    width: 100%;
}



.order {
    color: var(--basic-color);
    background-color: var(--green-color);
    border: none;
    max-width: 150px;
    width: 100%;
}


.order:hover {
    background-color: var(--green-color-hover);
}

/* header-info */
.header-info {
    background-color: var(--section-basic-background-color);
}

.header-info-description {
    text-align: left;
    color: var(--main-red-color);
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
}

.header-contact-tel {
    color: var(--main-red-color);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-color);
 }

 .sign-in, 
 .register {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: var(--secondary-color);
 }

 .sign-in:hover , 
 .register:hover,
 .area:hover,
 .area-link:hover {
    color: var(--main-red-color);
 }

.sign-in:hover path{
    fill: var(--fill-dark-blue);
 }

 .sign-in:active,
 .sign-in-icon:active, 
 .register:active,
 .area:active path,
 .area-link:active,
 .user-box-name:active,
 .user-logout-btn:active {
     opacity: 0.3;
 }

 .area li:first-child {
    list-style-type: var(--basic-list-style);
}

.area-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--dark-blue-color);
}

.user-icon path,
.logout-icon path {
    fill: var(--basic-color);
    opacity: 1;
}

.user-logout-btn {
    border: none;
    background-color: transparent;
}

.user-box-name:hover path,
.user-logout-btn:hover path {
    fill: var(--fill-dark-blue);
}

/* navigation */
.nav {
    background-color: var(--dark-blue-color);
}

.main-nav-link {
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.main-nav-link:hover {
    background-color: var(--main-dark-blue-color);
}

.main-nav-link:active {
    background-color: var(--main-dark-blue-color);
    box-shadow: var(--main-nav-box-shadow);
    color: var(--basic-opacity-3-color);
}

.main {
    background-color: var(--basic-color);
}

/* info */
.categories-title {
    color: var(--basic-color);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.categories-link {
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-opacity-3-color);
}

.categories-link:hover {
    background-color: var(--grey-opacity-3-color);
}

.categories-link:active {
    background-color: var(--grey-color);
}

.yellow-box {
    background-color: var(--orange-color);
}

.instruments {
    background-color: var(--blue);
}

.technics {
    background-color: var(--pink);
}

.discount {
    background-color: var(--green-light-color);
}

/* carousel */
.carousel-item {
    background-color: var(--layout-color);
}

.carousel-description {
    color: var(--basic-color);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.carousel-text{
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.carousel-link {
    background-color: var(--main-red-color);
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.btn-optional:hover {
    background-color: var(--main-red-dark-color);
}

.btn-optional:active {
    background-color: var(--dark-red-color);
}

/* production-list */

.announcement {
    background-color: var(--beige-color);
}

.products-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.product-bue:hover {
    background-color: var(--green-color-hover);
}

.product-bue:active {
    background-color: var(--green-dark-color);
}

.product-bue {
    color: var(--basic-color);
    background-color: var(--green-color);
    box-shadow: var(--green-box-shadow);
    border-radius: 2px;
}

.product-bookmark:hover {
    border: 3px solid var(--dark-blue-color);
    border-radius: 2px;
}

.product-bookmark:active {
    border: 3px solid var(--dark-blue-opacity-color);
    color: var(--dark-blue-opacity-color);
    border-radius: 2px;
}

.product-bookmark {
    color: var(--dark-blue-color);
    background-color: var(--basic-color);
    border: 3px solid var(--green-color);
    border-radius: 2px;
}

.products-text {
    color: var(--dark-blue-color);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.popular-goods {
    color: var(--basic-color);
    background-color: var(--main-red-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.products-description {
    color: var(--secondary-color);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

.old-price {
    color: var(--grey-color);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
}

.new-price {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-color);
    background-color: var(--main-red-color);
}

/* manufacturer-list */
.manufacturer-link {
    background: var(--basic-color);
    border: 1px solid var(--basic-dark-color);
}

.manufacturer-icon-item:hover {
    box-shadow: 0px 4px 20px var(--basic-dark-opacity-015-color);
    border: 1px solid var(--basic-dark-color);
}

.manufacturer-icon-item:active {
    opacity: 0.3;
}

/* services-list */
.services-list {
    background-color: var(--grey-blue-color);
}

.services-description {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-text {
    color: var(--secondary-color);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.services-slider-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--dark-blue-color);
    color: var(--basic-color);
    border: none;
}

.services-slider-btn:hover {
    background-color: var(--main-dark-blue-color);
}

.services-slider-btn:active {
    box-shadow: 0px 1px 0px var(--basic-color);
    color: var(--dark-blue-color);
    background-color: var(--basic-color);
}

.services-box-description {
    color: var(--dark-blue-color);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-box-text {
    color: var(--dark-blue-color);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

/* services-slider-info background-image */
.services-slider-info {
    background-image: url('../img/truck.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* contacts-list */
.contacts-list {
    background-color: var(--basic-color);
}

.description-company-description {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.description-company-text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.business-line-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-color);
}

.company-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-color);
    background-color: var(--main-red-color);
}


.contacts-company-description {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.contacts-company-text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--secondary-color);
}

/* footer */
.footer-info {
    background-color: var(--dark-blue-color);
}

.footer-address {
    color: var(--grey-light-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-adress-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey-light-color);
}

.footer-nav-top-link {
    color: var(--grey-blue-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.socials-link {
    background: var(--navy-blue-color);
}

.socials-link:hover {
    background: var(--main-red-color);
}

.socials-link:active {
    background: var(--main-red-color);
}

.footer-nav-bottom-item-link {
    color: var(--orange-light-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-nav-top-link:hover,
.footer-nav-bottom-item-link:hover,
.mail-link:hover, 
.creater-link:hover {
    text-decoration: var(--hover-text-decoration);
}

.footer-nav-top-link:active,
.footer-nav-bottom-item-link:active {
    text-decoration: var(--basic-text-decoration);
    opacity: 0.3;
}

/* footer-bottom */

.footer-bottom {
    background-color: var(--main-dark-blue-color);
}

.copyright {
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.mail-text, .creater-text {
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.mail-link, 
.creater-link {
    color: var(--orange-light-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.mail-link:active, 
.creater-link:active {
    color: var(--dark-red-color);
    text-decoration: var(--basic-text-decoration);
}


/* Catalog options */

/* breadcrumbs */
.box-breadcrumbs {
    background-color: var(--basic-color);
}

.breadcrumbs-link,
.breadcrumbs-item {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--secondary-color);
}

.description-name {
    background-color: var(--grey-medium-light-color);
}

.filter-box,
.description-box {
    background-color: var(--beige-ligt-color);
}

.filter-description {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.filters-link {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-dark-opacity-03-color);
    border-bottom: 1px dotted var(--main-red-color);
    text-transform: uppercase;
}

.filters-link:hover {
    color: var(--secondary-color);
    border-bottom: 1px solid var(--main-red-color);
}

.filters-link:active {
   color: var(--main-red-color);
   border: none;
}

.filters-item:last-child {
    border-bottom: none;
}

.up-btn,
.down-btn {
   border: none;
   cursor: pointer;
 }

.down-btn-arrow {
    transform: rotate(180deg);
}

.filters-btn {
    fill: var(--fill-color);
}

.up-btn:hover path,
.down-btn:hover path{
    fill: var(--secondary-color);
}

.up-btn:active path,
.down-btn:active path {
    fill: var(--main-red-color);
}

/* checkbox - radio */
.check-type {
    color: var(--fill-color);
}


.filter-caption {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--basic-color);
}

.manufacturers-line-item,
.acumulator-item {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.show-btn {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--secondary-color);
    background-color: var(--basic-color);
    text-transform: uppercase;
    border: 1px solid var(--grey-white-color);
    padding: 10px 0;
    max-width: 220px;
    width: 100%;
    cursor: pointer;
}

a.active-page {
    background-color: var(--main-red-color);
    color: var(--basic-color);
}

.page-link:hover {
    border: 1px solid var(--fill-color);
}

.page-link:active {
    border: 1px solid var(--main-red-color);
}

.page-link {
    display: block;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid var(--grey-white-color);
    border-radius: 2px;
    background-color: var(--basic-color);
    color: var(--secondary-color);
    padding: 10px 0;
    max-width: 38px;
    width: 100%;
    text-align: center;
}

.next-page {
    text-transform: uppercase;
    padding: 10px 0;
    max-width: 140px;
    width: 100%;
}

.afterword-perforators {
    background-color: var(--grey-blue-color);
}




