* {
    box-sizing: border-box;
}

:root {
    /* color */
    --basic-color: #fff;
    --basic-dark-color:#EAEAEA;
    --basic-dark-opacity-015-color: rgba(0, 0, 0, 0.15);
    --basic-dark-opacity-03-color: rgba(0, 0, 0, 0.3);
    --basic-opacity-3-color: rgba(255, 255, 255, 0.3);
    --secondary-color: #000;
    --secondary-black-color: #161D29;
    --orange-light-color: #FFD180;
    --orange-color: #FFBF47;
    --logo-box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    --main-red-color: #EE3643;
    --main-red-dark-color: #CA2C37;
    --dark-red-color: #BA2732;
    --navy-blue-color: #212A3A;
    --main-dark-blue-color: #293449;
    --dark-blue-color: #32425C;
    --dark-blue-opacity-color: rgba(50, 66, 92, 0.3);
    --grey-color: #A9A9A9;
    --grey-medium-light-color: #F2F6F8;
    --grey-opacity-3-color: rgba(197, 197, 197, 0.3);
    --grey-light-color: #F3F7F9;
    --grey-blue-color: #F1F5F7;
    --grey-white-color: #E5E5E5;
    --green-color: #63A63E;
    --green-color-hover: #5FBB2D;
    --green-light-color: #8ED78F;
    --green-dark-color: #518534;
    --green-box-shadow: inset 0px -3px 0px #367315;
    --beige-color: #F9F5F0;
    --beige-ligt-color: #F7F3EC;
    --section-basic-background-color: rgba(0, 0, 0, 0.0001);
    --blue: #3BBCE3;
    --pink: #DC91D8;
    --layout-color: rgba(0, 0, 0, 0.25);
    --main-nav-box-shadow: inset 0px -5px 0px #293449;
    
    /* decoration */
    --basic-text-decoration: none;
    --hover-text-decoration: underline;
    --basic-list-style: none;

    /* padding: 0; margin: 0; */
    --no-padding: 0;
    --no-margin: 0;

    /* fill color */
    --fill-color: #C5C5C5;
    --fill-dark-blue: #3D546F;

    /* scale colors */
    --background-scale: #D7DCDE;
    --background-scale-green: #00ca74;

    /* toggle dot */
    --background-color-dot: #ABABAB;
    --box-shadow-toggle: 0 2px 1px 0 #cfcfcf;

    /* check-box */
    --standart-color: #C5C5C5;
    --hover-checkbox-color: #B5B5B5;
}

.page {
    height: 100%;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
}

header {
    padding-bottom: 119px;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* container */
.container {
    width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

/* list-style: none;*/
.list {
    list-style: var(--basic-list-style);
    padding: var(--no-padding);
    margin: var(--no-margin);
}

/* text-decoration: none; */
.no-decoration {
    text-decoration: var(--basic-text-decoration);
}

/* Grids header-top */
.header-top-grid {
    display: grid;
    grid-template-columns: 220px 270px 150px 150px 150px;
    align-items: center;
}

/* Header-top */
.header-top {
    background-color: var(--main-dark-blue-color);
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-logo {
    display: inline-block;
    padding: 21px 42px 20px 50px;
    background-color: var(--main-red-color);
    box-shadow: var(--logo-box-shadow);
    margin-bottom: 22px;
}

.header-top-link,
.footer-logo-link {
    background-color: var(--main-red-color);
    box-shadow: var(--logo-box-shadow);
    padding: 11px 57px 12px 55px;
}

.header-top-link:hover,
.footer-logo-link:hover {
    background-color: var(--main-red-color);
    box-shadow: var(--logo-box-shadow);
}

.header-top-link:active,
.footer-logo-link:active {
    background-color: var(--dark-red-color);
    box-shadow: var(--logo-box-shadow);
}

.logo {
    max-width: 100%;
    height: auto;
}

.search-wrap {
    position: relative;
    z-index: 0;
}

.search-field {
    background-color: var(--main-dark-blue-color);
    color: var(--basic-color);
    display: block;
    width: 100%;
    padding: 9px 10px 9px 42px;
    border: none;
    outline: none;
}

.search-field:focus {
    background-color: var(--basic-color);
    opacity: 1;
}

.search-field:focus + .search-icon path {
    fill: var(--main-red-color);
    opacity: 1;
}

.search-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--basic-color);
}

.search-field::-moz-placeholder { /* Firefox 19+ */
    color: var(--basic-color);
}

.search-field:-ms-input-placeholder { /* IE 10+ */
    color: var(--basic-color);
}

.search-field:-moz-placeholder { /* Firefox 18- */
    color: var(--basic-color);
}

.search-field:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--secondary-color);
}

.search-field:focus::-moz-placeholder { /* Firefox 19+ */
    color: var(--secondary-color);
}

.search-field:focus:-ms-input-placeholder { /* IE 10+ */
    color: var(--secondary-color);
}

.search-field:focus:-moz-placeholder { /* Firefox 18- */
    color: var(--secondary-color);
}

.search-field:active::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.5)
}

.search-field:active::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.5)
}

.search-field:active:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.5)
}

.search-field:active:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.5)
}

.search-icon {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 17px;
    margin: auto 0;
}



.search-icon path,
.bookmark-icon path,
.basket-icon path {
    fill: var(--basic-color);
    opacity: 0.3;
}

.search-icon:hover path,
.search-field:hover + .search-icon path,
.bookmark-wrap:hover path,
.basket-wrap:hover path {
    opacity: 1;
}

.search-field:active {
    background-color: transparent;
}

.search-field:active + .search-icon path,
.bookmark-wrap:active path {
    fill: var(--basic-color);
    opacity: 0.3;
}

.bookmark-wrap:active {
    background-color: var(--secondary-black-color);
}

.basket-wrap:active path {
    opacity: 0.3;
}

.basket-full {
    background-color: var(--main-red-color);
}

.order {
    color: var(--basic-color);
    background-color: var(--green-color);
    border: none;
    max-width: 150px;
    width: 100%;
    padding: 13px 16px 14px 19px;
}

.order:hover {
    background-color: var(--green-color-hover);
}

.order:active {
    background-color: var(--green-color);
}

/* header-info-wrap grid */
.header-info-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 47px;
    padding-bottom: 30px;

}

.header-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
}

.user-box {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.user-box-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.wrapper-user {
    margin-top: 2px;
    margin-bottom: 20px;
}

.wrapper-user,
.area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-name {
    margin: 0 21px;
}

/* header-info */
.header-info {
    background-color: var(--section-basic-background-color);
}

.header-info-description {
    text-align: left;
    color: var(--main-red-color);
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin-left: 20px;
}

.header-contact-tel {
    color: var(--main-red-color);
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.header-contact-icon {
    margin-right: 17px;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--secondary-color);
    /* margin-top: 11px;
    margin-bottom: 40px; */
 }

 .sign-in {
     margin-right: 34px;
 }

 .sign-in-icon {
     margin-right: 7px;
 }

 .sign-in, 
 .register {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: var(--secondary-color);
 }

 .sign-in:hover , 
 .register:hover,
 .area:hover,
 .area-link:hover,
 .area-link:hover::before {
    color: var(--main-red-color);
 }

 .sign-in-icon path,
 .user-icon path,
 .logout-icon path {
     fill: var(--fill-color);
     opacity: 1;
 }

.sign-in:hover path{
    fill: var(--fill-dark-blue);
 }

 .sign-in:active,
 .sign-in-icon:active, 
 .register:active,
.area-link:active,
 .user-box-name:active,
 .user-logout-btn:active {
     opacity: 0.3;
 }


 .area-item:last-child {
    margin-left: 24px;
}

 .area-item:first-child .area-link {
     position: relative;
     z-index: 0;
     margin-right: 24px;
 } 

 .area-item:first-child .area-link::after {
     content: '';
     position: absolute;
     z-index: 0;
     width: 6px;
     height: 7px;
     background: linear-gradient(0deg, #32425C, #32425C), #FFFFFF;
     border-radius: 50%;
     top: 6px;
     margin: 0 19px;
 }
 
.area-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: var(--dark-blue-color);
}

.user-logout-btn {
    border: none;
    background-color: transparent;
}

.user-box-name:hover path,
.user-logout-btn:hover path {
    fill: var(--fill-dark-blue);
}

/* main-nav flex */
.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 25px 20px 26px;
    background-color: var(--dark-blue-color);
    margin-left: -9px;
    margin-right: 11px;
}

.main-nav-link {
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 24px 20px 27px;
}

.main-nav-link:hover {
    background-color: var(--main-dark-blue-color);
}

.main-nav-link:active {
    background-color: var(--main-dark-blue-color);
    box-shadow: var(--main-nav-box-shadow);
    color: var(--basic-opacity-3-color);
}

.main {
    background-color: var(--basic-color);
}

/* categories grid */
.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 59px;
}

.categories-box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 31px 21px 22px;
}

/* info */
.categories-title {
    color: var(--basic-color);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 14px;
}

.categories-link {
    display: block;
    min-width: 135px;
    width: 100%;
    padding: 10px 10px;
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--basic-opacity-3-color);
}

.categories-link:hover {
    background-color: var(--grey-opacity-3-color);
}

.categories-link:active {
    background-color: var(--grey-color);
}

.yellow-box {
    background-color: var(--orange-color);
}

.instruments {
    background-color: var(--blue);
}

.technics {
    background-color: var(--pink);
}

.discount {
    background-color: var(--green-light-color);
}

/* carousel */

.carousel-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

.carousel {
    height: 100%;
}

.carousel-perfarators {
    height: 100%;
    background-image: url(../img/carusel-img.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.carousel-drills {
    height: 100%;
    background-image: url(../img/drills.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.carousel-item {
    background-color: var(--layout-color);
    position: relative;
}

.carousel-description {
    color: var(--basic-color);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 23px;
    padding-left: 24px;
}

.carousel-text{
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    padding: 5px 0 16px 24px;
    margin-bottom: 17px;
}

.carousel-arrows-left {
    background-image: url('../img/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 25px5;
}

.carousel-arrows-right {
    background-image: url('../img/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    right: 21px;
    left: auto;
}

.carousel-arrows-right,
.carousel-arrows-left {
    width: 21px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    position: absolute;
    top: 123px; 
    z-index: 1;
}

.carousel-link {
    background-color: var(--main-red-color);
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 46px 9px 46px;
    position: absolute;
    bottom: 24px;
    left: 24px;
    z-index: 1;
}

.carousel-dots {
    position: relative;
}

.dots-item-left::before,
.dots-item-right::after {
    content: '';
    height: 6px;
    width: 6px;
    border: 2px solid var(--basic-color);
    border-radius: 50%;
    background-color: var(--basic-color);
    position: absolute;
    bottom: 36px; 
    left: 295px;
    cursor: pointer;
}

.dots-item-right::after {
    left: 315px;
}

.dots-item-active::after {
    background-color: var(--main-red-color);
}

.btn-optional:hover {
    background-color: var(--main-red-dark-color);
}

.btn-optional:active {
    background-color: var(--dark-red-color);
}

/* products, products-catalog - grid */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.products-catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


/* announcement flex */
.announcement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* production-list */
.announcement {
    background-color: var(--beige-color);
    margin-bottom: 20px;
}

.products {
    margin-bottom: 70px;
}

.products-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

/* Временное решение для удобства обозревания */
.products-item > img {
    max-width: 144px;
    width: 100%;
    max-height: 128px;
    height: 100%;
}

.products-link-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.products-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.products-link:last-child {
    margin-bottom: 54px;
}

.product-bue {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding: 11px 49px 11px 49px;
    color: var(--basic-color);
    background-color: var(--green-color);
    box-shadow: var(--green-box-shadow);
    border-radius: 2px;
}

.product-bue::before {
    content: url('../img/icon-basket.svg');
    position: absolute;
    z-index: 0;
    width: 15px;
    height: 15px;
    top: 5p;
    left: 30px;
}

.product-bue:hover {
    background-color: var(--green-color-hover);
}

.product-bue:active {
    background-color: var(--green-dark-color);
 }

.product-bookmark:hover {
    border: 3px solid var(--dark-blue-color);
    border-radius: 2px;
}

.product-bookmark:active {
    border: 3px solid var(--dark-blue-opacity-color);
    color: var(--dark-blue-opacity-color);
    border-radius: 2px;
}

.product-bookmark {
    color: var(--dark-blue-color);
    background-color: var(--basic-color);
    border: 3px solid var(--green-color);
    border-radius: 2px;
    padding: 8px 34px 8px 33px;
}

.products-text {
    color: var(--dark-blue-color);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 29px 0 30px 28px;
}

.popular-goods {
    color: var(--basic-color);
    background-color: var(--main-red-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 25px 14px 26px 0;
    padding: 11px 24px 9px 24px;
    max-width: 192px;
    width: 100%;
    text-align: center;
}

.products-description {
    color: var(--secondary-color);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 7px;
}

.price-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.old-price {
    color: var(--grey-color);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.new-price {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-color);
    background-color: var(--main-red-color);
    padding: 10px 44px 10px 32px;
}

/* manufacturer-icon-list grid */
.manufacturer-icon-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

/* manufacturer-list */
.manufacturer-list {
    padding-bottom: 70px;
}

.manufacturer-link {
    background: var(--basic-color);
    border: 1px solid var(--basic-dark-color);
    display: flex;
    width: 100%;
    height: 145px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.manufacturer-icon {
    max-width: 100%;
    height: auto;
}

.manufacturer-link:hover {
    box-shadow: 0px 4px 20px var(--basic-dark-opacity-015-color);
}

.manufacturer-link:active {
    opacity: 0.3;
}

.services-description-box {
    padding-top: 64px;
    margin-bottom: 70px;
}

.services-description {
    margin-bottom: 25px;
}

/* services-slider grid */
.services-slider {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 70px;
    padding-bottom: 99px;
}

/* services-list */
.services-slider-title {
    max-width: 240px;
    width: 100%;
}

.services-list {
    background-color: var(--grey-blue-color);
}

.services-description {
    color: var(--secondary-color);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-text {
    color: var(--secondary-color);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.services-slider-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 22px;
    width: 100%;
    min-height: 61px;
    height: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--dark-blue-color);
    color: var(--basic-color);
    border: none;
}

.services-slider-btn:hover {
    background-color: var(--main-dark-blue-color);
}

.services-slider-btn:active {
    box-shadow: 0px 1px 0px var(--basic-color);
    color: var(--dark-blue-color);
    background-color: var(--basic-color);
}

.services-box-description {
    color: var(--dark-blue-color);
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.services-box-text {
    color: var(--dark-blue-color);
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

/* services-slider-info background-image */
.info-delivery {
    background-image: url('../img/truck.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.info-garant {
    background-image: url('../img/garant-icon.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.info-credit {
    background-image: url('../img/credit-icon.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* company-wrap grid */
.company-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 180px;
    padding: 70px 0;
}

/* contacts-list */
.contacts-list {
    background-color: var(--basic-color);
}

.description-company-description {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.top-description-tex {
    margin-bottom: 24px;
}

.bottom-description-tex {
    margin-bottom: 1px;
}

.description-company-text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
}

.business-line {
    margin-bottom: 20px;
}

.business-line-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--secondary-color);
    margin-bottom: 12px;
    position: relative;
    margin-left: 37px;
}

.business-line-item::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--main-red-color);
    top: 5px;
    z-index: 1;
    top: 12px;
    left: -37px;
}

.business-line-item:last-child {
    margin-bottom: 0;
}

.company-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-color);
    background-color: var(--main-red-color);
    display: inline-block;
}

.company-left-btn {
    padding: 11px 40px 9px 40px;
}
.company-right-btn {
    padding: 11px 61px 10px 62px;
}


.contacts-company-description {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.contacts-company-text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.company-image {
    margin-bottom: 25px;
}

/* footer-info-box grid */
.footer-info-box {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.footer-nav-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 58px;
    margin-top: 30px;
    margin-bottom: 34px;
}

.footer-nav-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 58px;
}

/* footer */
.footer-info {
    background-color: var(--dark-blue-color);
}

.footer-address {
    color: var(--grey-light-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-adress-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--grey-light-color);
}

.footer-nav-top-link {
    color: var(--grey-blue-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--navy-blue-color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.fb-link {
    margin: 0 1px;
}

.socials-link:hover {
    background: var(--main-red-color);
}

.socials-link:active {
    background: var(--main-red-color);
}

.footer-nav-bottom {
    margin-left: 92px;
}

.footer-nav-bottom-item-link {
    color: var(--orange-light-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.footer-nav-top-link:hover,
.footer-nav-bottom-item-link:hover,
.mail-link:hover, 
.creater-link:hover {
    text-decoration: var(--hover-text-decoration);
}

.footer-nav-top-link:active,
.footer-nav-bottom-item-link:active {
    text-decoration: var(--basic-text-decoration);
    opacity: 0.3;
}

/* footer-bottom-box grid */
.footer-bootom-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 34px;
    padding-bottom: 29px;
}

/* footer-bottom */
.footer-bottom {
    background-color: var(--main-dark-blue-color);
}

.copyright {
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.mail-text, .creater-text {
    color: var(--basic-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.creater {
    margin-left: -51px;
}

.mail-link, 
.creater-link {
    color: var(--orange-light-color);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.mail-link:active, 
.creater-link:active {
    color: var(--dark-red-color);
    text-decoration: var(--basic-text-decoration);
}

/* Catalog options */

/* breadcrumbs flex */
.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* breadcrumbs */
.box-breadcrumbs {
    background-color: var(--basic-color);
    margin-bottom: 20px;
}

.breadcrumbs-item {
    margin-right: 40px;
}

.breadcrumbs-item > .breadcrumbs-link {
    position: relative;
    z-index: 0;
}

.breadcrumbs-item > .breadcrumbs-link::after {
    content: url('../img/icon-right-small.svg');
    position: absolute;
    z-index: 0;
    width: 8px;
    height: 12px;
    top: 1px;
    right: -24px;
}

.breadcrumbs-link,
.breadcrumbs-item {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--secondary-color);
    text-transform: uppercase;
}

/* filters-section grids */
.filters-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    margin-bottom: 123px;
}

/* filters-section */

/* filter-box flex */
.filter-box {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    margin-bottom: 28px;
}

.description-box {
    max-width: 220px;
    margin-bottom: 14px;
}

.filter-box h3 {
    margin-right: 140px;
}

.filter-box,
.description-box {
    background-color: var(--beige-ligt-color);
}

.filter-description {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--secondary-color);
    text-transform: uppercase;
    padding: 10px 0 10px 19px;
}

/* filters flex */
.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.filter-btn {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-dark-opacity-03-color);
    border-bottom: 1px dotted var(--main-red-color);
    text-transform: uppercase;
    border: none;
}

.filter-btn:hover {
    color: var(--secondary-color);
    text-decoration: underline 1px solid var(--main-red-color);
}

.filter-btn:active {
   color: var(--main-red-color);
   text-decoration: none;
}

.filters-item:last-child {
    border-bottom: none;
}

.up-btn,
.down-btn {
   border: none;
   cursor: pointer;
   background-color: transparent;
 }

.down-btn-arrow {
    transform: rotate(180deg);
}

.filters-btn {
    fill: var(--fill-color);
}

.up-btn:hover path,
.down-btn:hover path{
    fill: var(--secondary-color);
}

.up-btn:active path,
.down-btn:active path {
    fill: var(--main-red-color);
}

/* checkbox - radio */
.visibility-hidden {
    visibility: hidden;
}

.manufacturers-line-item label,
.radio-btn + label {
    margin-left: 42px;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.manufacturers-check + label::before {
    content: '';
    position: absolute;
    left: -42px;
    top: -2px;
    width: 19px;
    height: 19px;
    border: 2px solid var(--standart-color);
}

.radio-btn + label::before {
    content: '';
    position: absolute;
    left: -42px;
    top: -2px;
    width: 19px;
    height: 19px;
    border: 2px solid var(--standart-color);
    border-radius: 50%;
}

.manufacturers-check:hover + label,
.radio-btn:hover + label {
    color: var(--hover-checkbox-color);
}

.manufacturers-check:hover + label::before,
.radio-btn:hover + label::before {
    border-color: var(--hover-checkbox-color);
}

.manufacturers-check:disabled + label::before,
.radio-btn:disabled + label::before {
    color: var(--hover-checkbox-color);
    opacity: 0.3;
}

.manufacturers-check:disabled + label::before {
    border-color: var(--hover-checkbox-color);
    opacity: 0.3;
}

.manufacturers-check:checked + label::after {
    content: url('../img/checkbox-cheket.svg');
    position: absolute;
    left: -41px;
    top: -2px;
}

.radio-btn:checked + label::after {
    content: '';
    position: absolute;
    left: -35px;
    top: 5px;
    width: 9px;
    height: 9px;
    background-color: var(--standart-color);
    border-radius: 50%;
}

.radio-btn:hover + label::after {
    content: '';
    position: absolute;
    left: -35px;
    top: 5px;
    width: 9px;
    height: 9px;
    background-color: var(--hover-checkbox-color);
    border-radius: 50%;
}

.filter-caption {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--basic-color);

}

.filter-item {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--basic-color);
    margin-bottom: 15px;
    border: none;
    padding: 0;
}

/* range form */
.range-price {
    margin-bottom: 11px;
}

.range-filter {
    width: 220px;
}

.range-controls {
    height: 80px;
    position: relative;
    background-color: var(--beige-ligt-color);
    margin-bottom: 9px;
    padding: 39px 20px;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--background-scale);
}

.range-controls .bar {
    width: 160px;
    height: 2px;
    background-color: var(--background-scale-green);
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 8px solid var(--basic-color);
    background-color: var(--background-color-dot);
    border-radius: 50%;
    box-shadow: var(--box-shadow-toggle);
    cursor: pointer;
}

.price-controls input {
    width: 95px;
    border: none;
    border-radius: 5px;
    background-color: var(--beige-ligt-color);
    text-align: center;
}

.min-price input,
.max-price input {
    padding: 10px 24px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-max:hover {
    transform: scale(1.5);
    border-color: var(--background-scale-green);
}

.range-controls .toggle-min:active,
.range-controls .toggle-max:active {
    transform: scale(0.5);
    border-color: var(--dark-red-color);
}

.defice {
    display: block;
    width: 10px;
    height: 2px;
    background-color: var(--secondary-color);
}

.manufacturers-line {
    margin-bottom: 45px;
}

.acumulator {
    margin-bottom: 34px;
}

.manufacturers-line-item:last-child {
    margin-bottom: 0;
}

.manufacturers-line-item,
.acumulator-item {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-transform: uppercase;
}

.show-btn {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: var(--secondary-color);
    background-color: var(--basic-color);
    text-transform: uppercase;
    border: 1px solid var(--grey-white-color);
    padding: 10px 0;
    max-width: 220px;
    width: 100%;
    cursor: pointer;
}

.pages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.number-page {
    margin-right: 10px;
}

.number-page:last-child {
    margin-right: 0;
}

a.active-page {
    background-color: var(--main-red-color);
    color: var(--basic-color);
}

.page-link:hover {
    border: 1px solid var(--fill-color);
}

.page-link:active {
    border: 1px solid var(--main-red-color);
}

.page-link {
    display: inline-block;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid var(--grey-white-color);
    border-radius: 2px;
    background-color: var(--basic-color);
    color: var(--secondary-color);
    padding: 10px 15px;
    max-width: 38px;
    width: 100%;
    text-align: center;
}

.next-page {
    text-transform: uppercase;
    padding: 10px 0;
    max-width: 140px;
    width: 100%;
}

.afterword-perforators {
    background-color: var(--grey-blue-color);
    padding-top: 66px;
    padding-bottom: 68px;
}







